<a href="https://colab.research.google.com/github/ViniciusCarneiro17/CalcMODII/blob/main/Dataframe_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desenvolva um programa que deve ler um arquivo csv intitulado “notas_alunos.csv”. O arquivo deve ter a seguinte estrutura:


*   aluno: Nome do aluno;
*   nota_1: Primeira nota;
*   nota_2: Segunda nota;
*   faltas: Número de faltas;


O programa lerá esse arquivo e criará duas colunas. A primeira coluna será “media”, que terá a média das duas notas do aluno. A segunda será “situacao”, com os valores: APROVADO ou REPROVADO.

O aluno que tiver mais de 5 faltas ou possuir média menor que sete, será reprovado. O programa deverá salvar esse novo dataframe com o nome “alunos_situacao.csv”.

Por fim, o programa deverá mostrar na tela:
- o maior número de faltas;
- a média geral das notas dos alunos;
- e a maior média.

Veja em anexo um exemplo do arquivo “notas_alunos.csv”.

Trabalhe esse código em seu IDE, suba ele para sua conta no GitHub e compartilhe o link desse projeto no campo ao lado para que outros desenvolvedores possam analisá-lo.

In [18]:
import pandas as pd

In [28]:
df = pd.read_csv('Notas_aluno.csv', encoding = 'latin1')
df = pd.read_csv('Notas_aluno.csv', sep =";")
df.head()

   aluno  nota_1  nota_2  faltas
0  Fabio       7       9       3
1  Pedro       8       7       6
2    Ana       9       8       2
3  Maria       9       3       0
4  Lucas       5       8       0

Situação com base na média

In [45]:
media = (df["nota_1"] + df["nota_2"])/2

df["media"] = media
df.head()

faltas = (df["faltas"])


df.loc[df["media"] < 7, "situação"] = "REPROVADO"
df.loc[df["media"] >= 7, "situação"]= "APROVADO"
print (df.head())

   aluno  nota_1  nota_2  faltas  media   situação
0  Fabio       7       9       3    8.0   APROVADO
1  Pedro       8       7       6    7.5   APROVADO
2    Ana       9       8       2    8.5   APROVADO
3  Maria       9       3       0    6.0  REPROVADO
4  Lucas       5       8       0    6.5  REPROVADO

Situação com base na frequência

In [41]:
df.loc[df["faltas"] < 5, "situação"] = "APROVADO"
df.loc[df["faltas"] >= 5, "situação"] = "REPROVADO"
print (df.head())

   aluno  nota_1  nota_2  faltas  media   situação
0  Fabio       7       9       3    8.0   APROVADO
1  Pedro       8       7       6    7.5  REPROVADO
2    Ana       9       8       2    8.5   APROVADO
3  Maria       9       3       0    6.0   APROVADO
4  Lucas       5       8       0    6.5   APROVADO

Novo dataframe com o nome “alunos_situacao.csv”

In [46]:
df.to_csv("/content/alunos_situacao.csv")

Tela final

In [49]:
maisFaltas = df["faltas"].max()
mediaGer = df["media"].median()
maiorMedia = df["media"].max()
print("Maior número de faltas: ", maisFaltas)
print("Média Geral: ", mediaGer)
print("Maior média: ", maiorMedia)

Maior número de faltas:  6
Média Geral:  7.5
Maior média:  8.5